@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
:root{
--dark-gray: hsl(0, 0%, 63%);
--black: hsl(0, 0%, 0%);
--white: hsl(0, 0%, 100%);
--very-dark-gray: hsl(0, 0%, 27%);


--primary-font: 'Spartan', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: var(--primary-font);
    overflow: hidden;
}
.home{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70vh;
}
.carousel{
    display: flex;
    width: 880px;
    height: 433px;
}
.slide{
    margin-top: -85px;
    margin-left: -2px;
    width: 100%;
    height: 70vh;
}
.mobile-slide{
    display: block;
}
.nav{
    background-repeat: no-repeat;
    background-size: cover;
    width: 830px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 8% 3% 0 3%;
}
.nav li {
    margin: 0 2% 0 1%;
    z-index: 999;
}
.nav a{
    color: var(--white);
    text-decoration: none;
}
.nav a:hover{
    border-bottom: 1px solid var(--white);
    transition: all ease 3ms;
}
.logo{
    width: 10%;
    margin: 0% 4% 0 3%;
    z-index: 999;
}
.aside{
    width: 25vw;
    margin: 8% 7% 10% 8%;
}
.info {
    width: 420px;
    flex-direction: column;
}
.info h1{
    font-size: 2.2em;
}
.info p{
    margin: 6% 0 2% 0;
    font-size: .80em;
    line-height: 1.7;
    color: var(--dark-gray);
}
.info a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .80em;
    color:hsl(0, 0%, 0%);
    letter-spacing: 8px;
}
.info a:hover{
    color: var(--dark-gray)
}
.info a, img{
    margin-top: 6%;
}
.left{
    margin: 99px 25% -15% -8%;
}
.right{
    margin: 99px 22% -15% -3%;
}
.left, .right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 75px;
    background-color: hsl(0, 0%, 0%);
    position: absolute;
    cursor: pointer;
    border: none;
    z-index: 1;
}
.right:hover{
    background-color: var(--very-dark-gray);
}
.left:hover{
    background-color: var(--very-dark-gray);
}
.summary{
    display: flex;
    flex-direction: row;
    height: 35vh;
    width: 100vw;
}
.img1{ 
    width: 45vw;
    height: 35vh;
    background-image: url('./images/image-about-dark.jpg');
    background-repeat: no-repeat;
}
.about{
    width: 35vw;
    margin: 3% 5% -5% 2%;
}
.about h1{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    color: hsl(0, 0%, 0%);
}
.about p{
    font-size: .80em;
    margin-top: 2%;
    line-height: 1.7;
    color: var(--dark-gray);
}
.img2{
    width: 41vw;
    height: 35vh;
    background-image: url('./images/image-about-light.jpg');
    background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
    .home{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .slide{
        display: none;
    }
    .carousel{
        display: none;
    }
    .mobile-carousel{
        margin-top: -15%;
        display: flex;
        width: 60%;
        height: 100%;
        border: 1px solid red;
    }
    .mobile-slide{
        width: 100%;
        border: 1px solid red;
    }
    nav .logo{
        margin: auto;
    }
    nav li{
        display: none;
    }
}